/* font-family: 'Libre Baskerville', serif; */

body,h1,h2,h3,h4,h5,h6 {font-family: 'Libre Baskerville', serif;}
/*html{scroll-behavior: smooth;}*/
body, html {
	height: 100%;
	color: #777;
	line-height: 1.8;
}

#titletext {
	border: 1px solid #ccc;
	color: white;						
}		

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2 {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
	background-image: url('./assets/background/parallax1.jpg');
	min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
	background-image: url("./assets/background/parallax2.jpg");
	min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
	.bgimg-1, .bgimg-2 {
		background-attachment: scroll;
		min-height: 400px;
	}
}

/* Style the tab */
.portfolio-tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #616161;
}

/* Style the buttons inside the tab */
.portfolio-tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	color: white;
}

/* Change background color of buttons on hover */
.portfolio-tab button:hover {
	background-color: #757474;	
}

/* Create an active/current tablink class */
.portfolio-tab button.active {
	background-color: #4f4e4e;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	-webkit-animation: fadeEffect 1s;
	animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

/* project panel styling */
div.project {
  	float: left;
	width: 250px; height: 250px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 25px;
}

div.project img {
	width: 100%;
}

div.project-description {
	text-align: center;
	margin-top: 10px;
}

/* Clearfix (clear floats) */
.tabcontent::after {
  content: "";
  clear: both;
  display: table;
}